# Dependency directories
node_modules/

# Build output
dist/

# IDE files
## Visual Studio Code files
.vscode/*
!.vscode/launch.json

## JetBrains IDE files
.idea/

# Secrets and keys ****DO NOT COMMIT SECRETS***
.env

# Test coverage
coverage